.logo
{
	margin-left: 500px;
	margin-top: 50px;
}
header
{
    background-color: #262626;
}
h1
{
	text-align: center;
	color: white;
}
a
{
	text-decoration: none;
}
img
{
	margin-left: 118px;
}