.logo
{
	margin-left: 500px;
	margin-top: 50px;
}
header
{
    background-color: #262626;
}
.butt
{
	background-color: #262626;
	color: white;
	margin-left: 123px;
	width: 200px;
    height: 50px;
    border-radius: 50px 50px 50px 50px;

}
